@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* Light Mode */
  --brand-white: #FFFFFF;
  --brand-dark: #1F2937;
  --background-primary: #F9FAFB;  /* sehr helles Grau/Weiß */
  --background-secondary: #E2E8F0;  /* kühles, helles Blau-Grau */
  --text-primary: #1F2937;        /* dunkel, aber nicht rein schwarz */
  --text-secondary: #4B5563;      /* mittleres Grau mit Blaustich */
  
  /* Markenfarben (Blautöne) */
  --brand-blue: #4169E1;          /* Royal Blue als Hauptakzent */
  --brand-blue-light: #5A7DEB;    /* Leicht aufgehellt für Hover-Effekte */
  --brand-blue-dark: #3658B3;     /* Gedämpfter für aktive Elemente */
  --brand-red: #ef4444;
  --brand-red-light: #ef5655;
  
  /* Zusätzliche Akzente für Hinweise/Erfolge */
  --accent-green: #00C853;        /* Frisches Grün für Erfolgsmeldungen */
  --accent-yellow: #FFD60A;       /* Warmes Gelb als zusätzlicher Akzent */
  --error-red: #DC2626;          /* Kräftiges, aber nicht grelles Rot */
  --error-red-light: #EF4444;    /* Leicht aufgehellt für Hover-Effekte */
  --sale-red: #FF3B30;          /* Lebendiges Rot mit leichtem Orangeton (Apple Red) */
  --sale-red-light: #FF625C;    /* Aufgehellte Version für Hover-Effekte */

  /* Abstände */
  --global-x-padding: 20px;
  --md-x-padding: 44px;
  --lg-x-padding: 64px;
}

.dark {
  /* Dark Mode */
  --background-primary: #1F2937;  /* Dunkler Hintergrund */
  --background-secondary: #374151;  /* Etwas helleres Dunkel für Abgrenzungen */
  --text-primary: #F9FAFB;        /* Sehr hell für guten Kontrast */
  --text-secondary: #D1D5DB;      /* Helleres Grau für sekundären Text */
  
  /* Angepasste Akzente */
  --accent-green: #4ADE80;
  --accent-yellow: #FCD34D;
  --sale-red: #FF6B66;          /* Etwas heller für besseren Kontrast im Dark Mode */
  --sale-red-light: #FF8C88;    /* Noch hellere Variante für Effekte */
}


body {
  color: var(--text-primary);
  background: var(--background-primary);
  font-family: Arial, Helvetica, sans-serif;
  /* -webkit-user-select: none; */
  /* user-select: none; */
}

aside {
  height: calc(100vh - 70px);
}

section {
  padding: 0 var(--global-x-padding);
  padding-bottom: 2.5rem;
  padding-top: 3rem;
}

th {
  padding: .65rem 0;
}
td {
  text-align: center;
  padding: .6rem 0;
}

@media (width >= 48rem) {
  section {
    padding: 0 var(--md-x-padding);
    padding-bottom: 2.5rem;
    padding-top: 5rem;
  }
}

@media (width >= 64rem) {
  section {
    padding: 0 var(--lg-x-padding);
    padding-bottom: 2.5rem;
    padding-top: 5rem;
  }
}





/*
Etwas heller für besseren Kontrast 
--error-red: #F87171;       

Noch hellere Variante für Effekte 
--error-red-light: #FCA5A5;
*/