@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --brandwhite: #FDFDFD;
  --background-primary: #FDFDFD;
  --background-secondary: #d1d5db;
  --text-primary: #1D1D1F;
  --text-secondary: #475569;
  --apple-blue: #0071E3;
  --apple-orange: #FF9500;
  --apple-red: #FF3B30;
  --fresh-green: #00C853;
  --neon-yellow: #FFD60A;

  --global-x-padding: 20px;
  --md-x-padding: 44px;
  --lg-x-padding: 64px
}

.dark {
  --background-primary: #1D1D1F;
  --background-secondary: #4b5563;
  --text-primary: #FDFDFD;
  --text-secondary: #94a3b8;
  --apple-blue: #3A86FF;
  --apple-orange: #FF7B22;
  --apple-red: #FF4D4D;
  --fresh-green: #00E676;
  --neon-yellow: #FFCC00;
}

body {
  color: var(--text-primary);
  background: var(--background-primary);
  font-family: Arial, Helvetica, sans-serif;
  /* -webkit-user-select: none; */
  /* user-select: none; */
}

aside {
  height: calc(100vh - 70px);
}

section {
  padding: 0 var(--global-x-padding);
}

th {
  padding: .65rem 0;
}
td {
  text-align: center;
  padding: .6rem 0;
}

@media (width >= 48rem) {
  section {
    padding: 0 var(--md-x-padding);
  }
}

@media (width >= 64rem) {
  section {
    padding: 0 var(--lg-x-padding);
  }
}





/* #
Text: #1D1D1F (Fast-Schwarz, sehr edel)
Primärfarbe: #0071E3 (Apple Blau)
Hintergrund: #FDFDFD (Fast-Weiß, clean)
Akzentfarbe: #FF9500 (Sanftes Orange für Call-to-Action) 
Primärfarbe: #FF3B30 (Apple Rot, sehr auffällig)
Akzentfarbe: #00C853 (Frisches Grün, als Kontrast)
Sekundärfarbe: #FFD60A (Neongelb für ein cooles Design)
*/